$color: white;
$title: gray;
$clicks: 3399FF;

body {
  background-color: $color;
}

.flexcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row-wrap;
}

img {
  height: 25%;
  width: 25%;
}

h1 {
  color: $title;
}

ul {
  list-style-type: none;
}

