extends ./layouts/main

block content
  div(id="galleryContainer")
    button.post Post New
    ul(class="flex-container")
      each gallery in galleries
        li(class="flex-item")
          img(src='#{gallery.link}')
          p #{gallery.author}
          p #{gallery.link}
          p #{gallery.description}