doctype html

block title
  title
    |Index

block content

button Login
button Register

  ul
    each gallery in galleries
      li
        img(src='#{gallery.link}')
        p #{gallery.author}
        p #{gallery.description}

