extends ./layouts/main

block title
  title
    |Gallery Image

block content
  ul
    each gallery in galleries
      li
        img(src='#{gallery.link}')
        p #{gallery.author}
        p #{gallery.description}