extends ./layouts/main

block content
  if loggedIn
    include ./extentions/postNav
  else
    include ./extentions/loginNav
  ul(class="flex-container")
    each gallery in galleries
      li(class="flex-item")
        a(href="/gallery/#{gallery.id}")
          img(src='#{gallery.link}')
        p #{gallery.author}
        p #{gallery.link}
