doctype html

html
  head
    link(rel="stylesheet" type="text" href="/css/styles.css")
    title
      |Gallery Index


    h1 _ARCHITEKT


  #buttons
    button Login
    button Register

  div.flexcontainer
    ul
      each gallery in galleries
        li
          div.flex-item
          img(src='#{gallery.link}')
          p #{gallery.author}
          p #{gallery.description}

