doctype html

block title
  title Login

  form(method="POST", action="/login")
    input(name="username", placeholder="...")
    input(name="password", type="password", placeholder="...")
    button Login
