extends ./layouts/main

block content
  form(method="POST", action="/login")
    div(class="register")
      p Login
      input(name="username", placeholder="...", style='width: 500px')
      p Password
      input(name="password", type="password", placeholder="...", style='width: 500px')
      button.loginBtn Login
  if (errorMessage)
    p= errorMessage