extends ./layouts/main

block content
  form(method="POST", action="/login")
    p Login
    input(name="username", placeholder="...")
    p Password
    input(name="password", type="password", placeholder="...")
    button Login
