extends ./layouts/main

block content
  div.loginDiv
    form(method="POST", action="/login")
      div(class="register")
        p Login
        input(name="username", placeholder="...", style='width: 500px')
        p Password
        input(name="password", type="password", placeholder="...", style='width: 500px')
      br
      button.big Login
    if (errorMessage)
      p= errorMessage