extends ./layouts/main

block content
    form(method="POST", action="/gallery/")
      .row
      input(name ='link', placeholder='Image link')
      input(name='author', placeholder='author')
      input(name ='description', placeholder='Image description', type='text')
      button POST

