doctype html

block title
  title
    |New Photo

form(action="/gallery" method="POST")
  | Author
    input(type='text', name='author', placeholder='...')br
  | Link
    input(type='text', name='link', placeholder='...')br
  | Description
    input(type='text' rows='2' cols='100' name='description' placeholder='...')br
  input(type='submit', value='POST')
