block content
  h1 New Gallery
  div(id='container')
    form(method="POST", action="/gallery/")
      input(name ='url', placeholder='Image url')
      input(name='author', placeholder='author')
      input(name ='description', placeholder='Image description', type='text')
      button POST