body {
  background-color: white; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  width: 200px;
  height: 150px;
  padding: 5px; }

img {
  height: 25%;
  width: 25%; }

h1 {
  color: gray; }

ul {
  list-style-type: none; }
