body {
  background-color: white;
  width: 60%;
  margin: 0 auto; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; }

.flex-item {
  width: 200px;
  height: 150px;
  padding: 15px; }

img {
  position: relative;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  color: gray;
  font-family: Helvetica; }

ul {
  list-style-type: none; }
