/* line 6, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
html
body {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  color: #777; }

/* line 13, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
#headerContainer {
  color: #777;
  font-family: Helvetica;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%; }

/* line 21, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
#header-col-left {
  text-align: left; }

/* line 24, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
#header-col-right {
  margin-left: 20%;
  text-align: right;
  font-size: 12px; }

/* line 29, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
.title {
  font-size: 70px; }

/* line 32, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
#navbar {
  margin-left: 10%;
  margin-right: 10%; }

/* line 36, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
.flex-container {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  margin-right: 10%; }

/* line 43, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
.flex-item {
  padding: 12px; }

/* line 46, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
.gallery-images {
  width: 250px;
  height: 250px;
  background-size: cover; }

/* line 51, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
.photo-container {
  margin-bottom: 20px; }

/* line 54, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
p {
  word-wrap: break-word;
  width: 250px; }

/* line 58, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
a {
  text-decoration: none;
  color: #777; }

<<<<<<< HEAD
/* line 62, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
=======
/* line 75, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
#navLink {
  width: 0;
  height: 0; }

/* line 80, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
>>>>>>> ae2d55681b2de7cec458f47dda21b97419855a68
.single-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  word-wrap: break-word;
  margin-left: 10%;
  margin-right: 10%; }

<<<<<<< HEAD
/* line 69, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
=======
/* line 89, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
>>>>>>> ae2d55681b2de7cec458f47dda21b97419855a68
.single-image {
  width: 540px;
  height: 350px;
  background-size: cover; }

<<<<<<< HEAD
/* line 74, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
#single-main {
  display: inline-block; }

/* line 77, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
=======
/* line 95, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
.singleInfo {
  width: 540px; }

/* line 99, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
#single-main {
  display: inline-block; }

/* line 103, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
>>>>>>> ae2d55681b2de7cec458f47dda21b97419855a68
#sideDivMain {
  display: flex;
  float: right;
  margin-top: 5%;
  margin-right: 15%; }

<<<<<<< HEAD
/* line 83, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
=======
/* line 110, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
>>>>>>> ae2d55681b2de7cec458f47dda21b97419855a68
.side-container {
  word-wrap: break-word;
  list-style-type: none; }

<<<<<<< HEAD
/* line 86, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
=======
/* line 115, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
>>>>>>> ae2d55681b2de7cec458f47dda21b97419855a68
.regular {
  margin-right: 5%;
  margin-left: 5%;
  background-color: #008CBA;
  border-radius: 2px;
  border-style: solid;
  border-width: 0;
  color: #FFF;
  font-size: 12px; }

<<<<<<< HEAD
/* line 96, /home/stephen/Desktop/DevLeague/express-gallery/scss/styles.scss */
=======
/* line 126, /Users/JuanJo/Desktop/DevLeague/express-gallery/scss/styles.scss */
>>>>>>> ae2d55681b2de7cec458f47dda21b97419855a68
.big {
  margin-right: 5%;
  margin-left: 13%;
  height: 45px;
  width: 85px;
  background-color: #008CBA;
  border-radius: 2px;
  border-style: solid;
  border-width: 0;
  color: #FFF;
  font-size: 15px; }
